.container {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-heading {
  text-align: center;
}
